<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" style="margin-top: 50px;">
        <div class="container headerCerceve">

            <div class="col-lg-12 col-md-6">
                <div class="destekHeader">
                    <h3>Destek Talep Formu</h3>
                </div>
            </div>

            <div class="row">

                <p style="font-size: 18px; padding-left: 15px; padding-right: 10px; text-align: center; width: 100%;">
                    Destek ve detaylı bilgi için formu lütfen doldurunuz. Deneyimli ekibimiz tarafından sizi
                    arayalım.
                    <br> <br>
                </p>

                <div class="col-lg-9 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200"
                     style="margin-left: 13%; margin-right: 13%;">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ad Soyad"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                       data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu"
                                   data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                      data-msg="Please write something for us" placeholder="Mesaj"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center" style="margin-bottom: 20px;">
                            <button type="submit">
                                Mesaj
                                Gönder
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <p style="font-size: 18px; padding-left: 10px; padding-right: 10px; text-align: center;">
                <br>
                Sistem hakkında her türlü bilgi, istek ve önerilerinizi form ile bize gönderebilirsiniz.
                Operatörlerimiz en kısa zamanda sizinle iletişime geçecektir.
            </p>
            <p style="font-size: 18px; padding-left: 10px; padding-right: 10px; text-align: center; color: #010483;">
                <strong>Telefon:</strong> 0850 611 06 51<br>
                <strong>Email:</strong> bilgi@hizlifaturam.com<br><br>
            </p>
            <h5 style=" margin-top: 10px; margin-bottom: -15px; font-size: 17px; text-align: center; color: #010483;">
                <strong>Sosyal Medya Hesaplarımız</strong>
            </h5>
            <div class="social-links mt-3" style="text-align: center;">
                <a href="https://twitter.com/hizlifaturamcom" class="twitter destekSosyal">
                    <i class="bx bxl-twitter"></i>
                </a>
                <a href="https://www.facebook.com/H%C4%B1zl%C4%B1-Faturam-Efatura-Hizmeti-109215354685329"
                   class="facebook destekSosyal"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/hizlifaturamcom/" class="instagram destekSosyal">
                    <i class="bx bxl-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/h%C4%B1zl%C4%B1-faturam-b43255212/"
                   class="linkedin destekSosyal"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
