<main id="main">

    <div class="">
        <div class="container" style="height: 1000px; width: 100%; border: 2px solid red; margin-top: 80px;">

        </div>
    </div>
    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
        <div class="container">
            <div class="row content">
                <div class="col-md-4" data-aos="fade-right">
                    <img src="~/img/features-4.png" class="img-fluid" alt="" style="padding-top: 100px;">
                </div>
                <div class="col-md-8 pt-4" data-aos="fade-up">
                    <h3 style="margin-top: 60px;">E-fatura Açıklama</h3>
                    <ul>
                        <li><i class="icofont-check"></i> Fiyatlara KDV dahil değildir.</li>
                        <li><i class="icofont-check"></i> Fiyatlar 1 yıllık sözleşme için geçerlidir.</li>
                        <li><i class="icofont-check"></i> Fiyatlara saklama ücreti dahildir.</li>
                        <li>
                            <i class="icofont-check"></i> Faturalandırma paket türüne göre aylık periyodlarla
                            yapılmaktadır.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Kampanyadan yararlanmak için programın satın alındığı
                            tarihten itibaren 1 ay içerisinde aktivasyon yapılması gerekir.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Hediye verilen kontör E-fatura, E-arşiv ve E-irsaliye için
                            geçerlidir.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Kampanya kapsamında ücretsiz 6 ay boyunca sınırsız e-belge
                            oluşturulabilir.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Hızlı Faturam kampanya şartlarını değiştirme hakkını saklı
                            tutar.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Kampanya kapsamında ücretsiz 6 ay boyunca sınırsız e-belge
                            oluşturulabilir.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Kampanya kapsamındaki hediye kullanım süresi bittiğinde
                            kullanıcı kendisine uygun aylık kontör miktarını seçerek dilediği E-fatura/E-arşiv
                            paketini satın alabilir.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End Details Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" style="margin-top: -80px;">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>İletİşİm</h2>
                <p>Mesaj Gönder</p>
            </div>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Konum:</h4>
                            <p>
                                Düzce Üniversitesi Teknopark Orhangazi Mah. Teknopark Cad. No:1 Kat:2 Merkez/DÜZCE
                            </p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>bilgi@hizlifaturam.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Telefon:</h4>
                            <p>0850 611 06 51</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ad Soyad"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                       data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu"
                                   data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                      data-msg="Please write something for us" placeholder="Mesaj"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
