  <!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1>
                        TÜRKİYE'DE EN KOLAY<br>ÜCRETSİZ E-FATURA<br>HİZMETİNİN ADRESİ
                    </h1>
                    <h2>
                        Hızlı Faturam herhangi bir kısıtlama olmaksızın ömür boyu kullanabileceğiniz bir ücretsiz elektronik
                        faturalama platformudur.
                    </h2>
                    <div class="text-center text-lg-center">
                        <a href="/setup/HizliFaturam.msi" class="btn-get-started scrollto">Ücretsiz Kullan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <div class="img-place mobile-preview2 shadows floating-animate video">
                    <div class="video-title">
                        <video src="~/f-HD720p.mov" width="100%" height="100%" controls autoplay playsinline muted
                               style="pointer-events:auto" loop></video>
                    </div>

                    <!--  <img src="~/Content/img/2021-Kampanya-Banner.jpg" alt=""> -->
                </div>
            </div>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-lg-4 video-box d-flex justify-content-center align-items-stretch"
                     data-aos="fade-right">
                </div>

                <div class="col-xl-8 col-lg-8 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                     data-aos="fade-left">

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-timer"></i></div>
                        <h4 class="title">Faturalarınız Hızlı Faturam İle Anında Müşterinize Ulaşsın!</h4>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class=" fas fa-inbox"></i></div>
                        <h4 class="title">Fiziki Fatura Arşivlemekten Hızlı Faturam İle Kurtulun</h4>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-tree"></i></div>
                        <h4 class="title">Hızlı Faturam İle Kağıt Tüketimini Azaltarak Doğayı Koruyun</h4>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up" style="margin-bottom: -20px;">
                <h2>Özellİkler</h2>
                <p>e-Fatura Programı Özellİklerİ</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
                    <div class=" icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <img src="~/img/icons/raporlama.svg" alt="Efatura raporlama sistemi" class="iconlar"
                             style="float: left;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong1"
                                style="height: 45px; width: 100%;">
                            <h3>Raporlama Sistemi</h3>
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Raporlama Sistemi</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="featuresUl">
                                    <li><i class="icofont-check"></i> Cari kartlara ait Hesap ekstresi, Toplu cari raporu v.b.</li>
                                    <li><i class="icofont-check"></i> Stok, Depo Hareketleri,Stok listeleri raporu v.b.</li>
                                    <li><i class="icofont-check"></i> Satış raporu ve satış grafiği</li>
                                    <li><i class="icofont-check"></i> Kar-Zarar Analizi</li>
                                    <li><i class="icofont-check"></i> Gün Sonu Raporu</li>
                                    <li><i class="icofont-check"></i> Toplu stok raporu ve stok hareketleri raporunu alabilme</li>
                                    <li><i class="icofont-check"></i> Depo hareketleri raporunu alabilme</li>
                                    <li><i class="icofont-check"></i> Toplu Cari raporu ve cari işlem raporu alabilme</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
                    <div class=" icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <img src="~/img/icons/fatura-takip.svg" alt="Efatura raporlama sistemi" class="iconlar"
                             style="float: left;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong2"
                                style="height: 45px; width: 100%;">
                            <h3>Fatura Modülü</h3>
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Fatura Modülü</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="featuresUl">
                                    <li><i class="icofont-check"></i> Alış, Satış ve İade faturası düzenleme</li>
                                    <li><i class="icofont-check"></i> Standart ve gramajlı ürün barkod desteği</li>
                                    <li><i class="icofont-check"></i> İrsaliyeyi fatura dönüştürme</li>
                                    <li><i class="icofont-check"></i> Fatura makbuz basımı</li>
                                    <li><i class="icofont-check"></i> Detaylı alış, satış ve iade faturası raporlama</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
                    <div class=" icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <img src="~/img/icons/stok-takip.svg" alt="Efatura raporlama sistemi" class="iconlar"
                             style="float: left;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong3"
                                style="height: 45px;">
                            <h3>Stok Takip Modülü</h3>
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Stok Takip Modülü</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="featuresUl">
                                    <li><i class="icofont-check"></i> Depo tanımlama</li>
                                    <li><i class="icofont-check"></i> Stok kartı Tanımlama</li>
                                    <li><i class="icofont-check"></i> Barkodsuz ürünler için otomatik barkod tanımlama</li>
                                    <li><i class="icofont-check"></i> Gramajlı ürünler için otomatik barkod tanımlama</li>
                                    <li><i class="icofont-check"></i> Stok grubu ve birimi tanımlama</li>
                                    <li><i class="icofont-check"></i> Stok kartlarına resim yükleme</li>
                                    <li><i class="icofont-check"></i> Barkod etiketi basma (tekli veya toplu)</li>
                                    <li><i class="icofont-check"></i> Depolar arası virman</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
                    <div class=" icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <img src="~/img/icons/cari-kart.svg" alt="Efatura raporlama sistemi" class="iconlar"
                             style="float: left;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong4"
                                style="height: 45px;">
                            <h3>Cari Kart Modülü</h3>
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Cari Kart Modülü</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="featuresUl">
                                    <li><i class="icofont-check"></i> Cari Hesap kartı tanımlama</li>
                                    <li><i class="icofont-check"></i> Grup tanımlama</li>
                                    <li><i class="icofont-check"></i> Cariye Stoklu-Stoksuz Satış</li>
                                    <li><i class="icofont-check"></i> Cariye kasa'dan ödeme ve tahsilat yapabilme</li>
                                    <li><i class="icofont-check"></i> Cariyi borçlandırma ve alacaklandırma işlemleri</li>
                                    <li><i class="icofont-check"></i> Tahsilat ve ödeme makbuzu kesme</li>
                                    <li><i class="icofont-check"></i> Cari hesap ekstresi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <img src="~/img/icons/arsivleme.svg" alt="Efatura raporlama sistemi" class="iconlar"
                             style="float: left;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong5"
                                style="height: 45px;">
                            <h3>Arşivleme</h3>
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Arşivleme</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="featuresUl">
                                    <li>
                                        <i class="icofont-check"></i> Minimum 10 yıl boyunca güvenli bir şekilde arşivleyebilirsiniz.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <img src="~/img/icons/taslak-hazirlama.svg" alt="Efatura raporlama sistemi" class="iconlar"
                             style="float: left;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong6"
                                style="height: 45px;">
                            <h3>Taslak Hazırlama</h3>
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong6" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Taslak Hazırlama</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="featuresUl">
                                    <li>
                                        <i class="icofont-check"></i> Tıpkı maillerde oluşturulabildiği gibi taslak hazırlayıp
                                        bulundurabilirsiniz.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <img src="~/img/icons/gonderme.svg" alt="Efatura raporlama sistemi" class="iconlar"
                             style="float: left;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong7"
                                style="height: 45px;">
                            <h3>Gönderme</h3>
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong7" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Gönderme</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="featuresUl">
                                    <li>
                                        <i class="icofont-check"></i> Fatura işlemlerinizi mail alma ve gönderme kolaylığında
                                        gerçekleştirebilirsiniz.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <img src="~/img/icons/goruntuleme-yazdirma.svg" alt="Efatura raporlama sistemi" class="iconlar"
                             style="float: left;">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalLong8"
                                style="height: 45px;">
                            <h3 style="margin-top: -10px;">Görüntüleme & Yazdırma</h3>
                        </button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong8" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Görüntüleme & Yazdırma</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="featuresUl">
                                    <li>
                                        <i class="icofont-check"></i> Zaman ve mekan sınırı olmadan, toplu olarak görüntüleyebilir ve
                                        yazdırabilirsiniz.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>


    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
        <div class="container">
            <h3 id="detailsHeader">Kobiler e-Fatura ile Dijital Dönüşümde Kazanıyor!</h3>
            <div class="row content">
                <div class="col-md-4" data-aos="fade-right">
                    <img src="~/img/e-fatura-gecis-zorunluluk.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-4" data-aos="fade-up">
                    <h3 style="margin-top: 60px;">e-Fatura Geçiş Zorunluluğu - 2023!</h3>
                    <ul>
                        <li>
                            <i class="icofont-check"></i> Gelir İdaresi Başkanlığı tarafından yönetilen e-fatura uygulamasında
                            amaç tek bir standarda göre satıcı ve alıcı arasında güvenli, zaman ve maliyet tasarrufu sağlayan
                            bir
                            sistem oluşturmaktır.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Maliye Bakanlığı Gelir İdaresi Başkanlığı (GİB) tarafından, Vergi
                            Usul
                            Kanunu (VUK) Genel Tebliğleri ile E-fatura uygulamasına ait usul ve esas, standart ve düzenlemeler
                            yapmıştır.
                        </li>
                        <li>
                            <i class="icofont-check"></i> E-fatura ile ilgili tebliğ ve diğer dokümanları aşağıda bulunan
                            alandan
                            inceleyebilirsiniz.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row content" style="margin-top: 50px;">
                <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                    <img src="~/img/e-fatura-avantajlari.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                    <h3 style="margin-top: -9px;">e-Fatura Avantajları</h3>
                    <ul>
                        <li>
                            <i class="icofont-check"></i> Maliyetleriniz azalır. (Kağıt, mürekkep, zarf, postalama, arşivleme
                            ve
                            mutabakat vb.)
                        </li>
                        <li>
                            <i class="icofont-check"></i> Faturalarınızı daha hızlı hazırlarsınız. Zamandan tasarruf etmiş
                            olursunuz.
                        </li>
                        <li><i class="icofont-check"></i> Faturalarınızın kaybolma riski olmaz.</li>
                        <li><i class="icofont-check"></i> Hem çevre dostu hemde tasarrufludur.</li>
                        <li><i class="icofont-check"></i> Tahsilatlarınızı hızlandırmanızı sağlar.</li>
                        <li><i class="icofont-check"></i> e-Faturayı saklamak çok kolay, kaybetmesi ise imkansızdır.</li>
                        <li><i class="icofont-check"></i>Muhasebe işlemlerini kolaylaştırır.</li>
                    </ul>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-4" data-aos="fade-right">
                    <img src="~/img/guvenli-veri-depolama.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-5" data-aos="fade-up">
                    <h3>Güvenli Veri Depolama</h3>
                    <ul>
                        <li><i class="icofont-check"></i> e-Fatura programımız ile verileriniz güvende!</li>
                        <li>
                            <i class="icofont-check"></i> Depolama, verilerinize kolayca erişebileceğiniz güvenli bir yerde
                            tutma
                            eylemidir. Depolama alanındaki dosyalar, düzenli olarak eriştiğiniz ve değiştirdiğiniz dosyaların
                            çalışan kopyaları olmalıdır. İyi depolama ve yedekleme uygulamaları, donanım arızası, doğal afet
                            veya
                            dosya bozulması nedeniyle verilerinizi korumaya yardımcı olur.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Bulut depolama, ticari veri merkezindeki İnternet erişimi olan
                            herhangi
                            bir bilgisayardan erişilebilen depolama alanıdır. Genellikle bir servis sağlayıcı tarafından
                            sağlanır.
                            Sınırlı bir depolama alanı, bir abonelik ücreti için daha fazla alanla birlikte ücretsiz olarak
                            sağlanabilir. Servis sağlayıcı örnekleri Amazon S3, Google Drive, Sky Drive vb. verilebilir.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                    <img src="assets/img/hizli-teknik-destek.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                    <h3 style="margin-top: -22px;">Hızlı Teknik Destek</h3>
                    <p class="font-italic">
                        Destek İçin E-mail Adresimiz:
                        <br>
                        bilgi@hizlifaturam.com
                    </p>
                    <ul>
                        <li>
                            <i class="icofont-check"></i> Sistem hakkında her türlü bilgi, istek ve önerilerinizi form ile
                            bize
                            gönderebilirsiniz. Destek ekibimiz en kısa zamanda sizinle iletişime geçecektir.
                        </li>
                        <li>
                            <i class="icofont-check"></i> Yazılım Desteği Almak istiyorsanız destek ve bağlantı sistemi,
                            yazılım
                            ürünleri ile ilgili ön destek almanızı sağlayan bir takip sistemdir. E-Mail Adresimizden destek
                            talebinde bulunabilirsiniz.
                        </li>
                        <li><i class="icofont-check"></i> e-Faturayı İşin Profesyoneline Bırakın, Siz Keyfinize Bakın.</li>
                        <li>
                            <i class="icofont-check"></i> Ücretsiz e-Faturaya Geçiş Uygulamamızla e-Faturaya Geçiş Yapın,
                            Faturalarınızı Hızlı ve Kolayca Anında Gönderin.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End Details Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div data-aos="fade-up" style="text-align: center; color: white; margin-bottom: 40px; margin-top: -40px;">
                <h2>Müşterilerimizin Görüşleri</h2>
            </div>

            <div class="owl-carousel testimonials-carousel" data-aos="zoom-in">

                <div class="testimonial-item">
                    <h3>Ferhat Sağlam</h3>
                    <h4>İşletmeci</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        E-Fatura kullanarak işletmemizin maliyetleri fazlasıyla azaldı. Faturaların müşteriye gönderimi için
                        de
                        kargoya gerek kalmadı.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <h3>Cihan Albayrak</h3>
                    <h4>İşletmeci</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        E-Fatura'nın en büyük avantajı zamandan tasarruf diyebilirim. Hem daha hızlı hazırlanıyor hem de
                        müşteriye
                        daha hızlı iletiliyor.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <h3>Betül Kuzu</h3>
                    <h4>İşletmeci</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        E-Fatura'nın işletmemiz için en avantajlı tarafı Stok Takip Modülü oldu, bu sayede stok kontrolümüz
                        daha
                        basit ve hızlı hale geldi.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <h3>Derya Usta</h3>
                    <h4>İşletmeci</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        E-Fatura'nın işletmemiz için avantajı çok oldu. İstediğimiz her yerden verilere anında ulaşabiliyoruz
                        ve
                        depolama sorunu yaşamıyoruz.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <h3>Metehan Ceyhan</h3>
                    <h4>İşletmeci</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Faturalarımız dijital ortamda arşivlendiği için kaybolma riski yok. İstediğimiz zaman ve istediğimiz
                        yerden eski faturalara ulaşabiliyoruz.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <h3>Onur Bakkaloğlu</h3>
                    <h4>İşletmeci</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Artık Excel dosyaları arasında kaybolmuyorum.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>S.S.S</h2>
                <p>Sıkça Sorulan Sorular</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                                                                       href="#faq-list-1">
                            E-Fatura nedir? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                            <p>
                                Dijital ortamda hazırlanan faturalara Elektronik Fatura (E-Fatura) denir. Kâğıda basılmayan ve
                                internet üzerinden alıcı ve satıcıya iletilen e-fatura, ileride tüm firmalar için zorunlu hale
                                getirilecektir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
                                                                       class="collapsed">
                            E-Fatura’yı niçin kullanmalıyım? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                            <p>
                                E-fatura kullanımında girilen faturalar anında dijital ortama kayıt edildiğinden müşteriler ve
                                satıcılarla mutabakat yapmanız kolaylaşır. Fatura saklama iş yükü ve maliyetinden kurtulursunuz.
                                Hızlı
                                Faturam E-Fatura aracılığıyla güvenli bir şekilde fatura gönderip alarak fatura bilgilerine sistem
                                sorgusuyla anında erişerek faturaya ilişkin bilgilerin anında kontrolünü sağlayabilirsiniz.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
                                                                       class="collapsed">
                            Zorunluluk kapsamında değilim? Yine de e-fatura uygulamasına kendi isteğim ile
                            dahil
                            olabilir miyim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                            <p>
                                Evet. İsteğe bağlı olarak e-fatura uygulamasına dahil olmak mümkündür.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
                                                                       class="collapsed">
                            E-fatura uygulamasına nasıl dahil olabilirim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                            <p>
                                GİB’e e-fatura başvurunuzu yapıp, mali mührünüzü almanız gerekir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
                                                                       class="collapsed">
                            E-faturanın çıktısını alıp yazdırmam gerekiyor mu? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                            <p>
                                Hayır böyle bir zorunluluk yoktur. Müşterilerinize faturanızı elektronik ortamda iletirsiniz.
                                Süreç
                                tamamen dijital ortamda gerçekleşir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6"
                                                                       class="collapsed">
                            E-fatura uygulamasına geçtikten sonra kâğıt fatura düzenleyemez miyim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                            <p>
                                E-fatura uygulamasına geçtikten sonra sisteme dahil olan firmalara e-fatura, dahil olmayan
                                firmalara
                                ise kağıt fatura göndermeniz gerekmektedir. Bu nedenle fatura alıcısının sisteme dahil olup
                                olmadığının kontrolü fatura oluşturulmadan önce mükellef tarafından yapılmalıdır.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-7"
                                                                       class="collapsed">
                            Müşterilerimin e-fatura kullanıcısı olduklarını nasıl bilirim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-7" class="collapse" data-parent=".faq-list">
                            <p>
                                Programın satış ekranında müşterinin vergi numarası yazıldığında, fatura alıcısının sisteme dahil
                                olup
                                olmadığını otomatik olarak kontrol etmektedir. Bir diğer kontrol edebileceğini yer ise E-Fatura
                                resmi
                                sitesinde yer alan liste düzenli olarak güncellenmektedir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-8"
                                                                       class="collapsed">
                            E-Faturayı nasıl arşivleyeceğim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-8" class="collapse" data-parent=".faq-list">
                            <p>
                                E-Faturaların çıktısının alınıp saklanması gibi bir yasal zorunluluğunuz bulunmamaktadır.
                                Faturalar
                                tamamen elektronik ortamda arşivlenir. Yine de dileyen kullanıcılar çıktılarını saklayabilir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-9"
                                                                       class="collapsed">
                            E-Fatura sistemi ile irsaliye hazırlayabilir miyim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-9" class="collapse" data-parent=".faq-list">
                            <p>
                                Evet. Bunu yapabilmek için e-faturanın malın teslim edileceği tarihte düzenlenmiş olması gerekir.
                                Gönderdiğiniz e-faturada düzenleme tarihi yanında düzenleme zamanının saat olarak gösterilmesi
                                halinde
                                e-faturanın kâğıt dökümü irsaliye yerine geçer. Fakat bu çıktıya “İrsaliye yerine geçer”
                                ifadesinin
                                yazılması ve kâğıdın kaşelenip imzalanması da gerekir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-10"
                                                                       class="collapsed">
                            Temel ya da Ticari Fatura Senaryosu Nedir? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                        </a>
                        <div id="faq-list-10" class="collapse" data-parent=".faq-list">
                            <p>
                                E-fatura sistemine geçtikten sonra, e-fatura ile çalışacağınız müşteri ya da tedarikçilerle temel
                                ya
                                da ticari fatura senaryolarından birini seçmeniz gerekiyor. Ticari Fatura Senaryosu’nda
                                müşterinizin 7
                                gün içinde kabul ya da ret vermesi gerekir. Eğer vermezse faturayı kabul etmiş sayılır. Temel
                                faturada
                                bu şekilde bir onay süreci bulunmamaktadır.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End F.A.Q Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>İletİşİm</h2>
                <p>Mesaj Gönder</p>
            </div>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Konum:</h4>
                            <p>Düzce Üniversitesi Teknopark Orhangazi Mah. Teknopark Cad. No:1 Kat:2 Merkez/DÜZCE</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>bilgi@hizlifaturam.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Telefon:</h4>
                            <p>0850 611 06 51</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ad Soyad"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email"
                                       data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu"
                                   data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                      data-msg="Please write something for us" placeholder="Mesaj"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->